PYTEST_XDIST_WORKER_COUNT=auto
XRAY_CLIENT_ID="<XRAY_CLIENT_ID>"
XRAY_CLIENT_SECRET="<XRAY_CLIENT_SECRET>"
XRAY_API_BASE_URL="<XRAY_API_BASE_URL>"
XRAY_PROJECT_KEY="<XRAY_PROJECT_KEY>"
XRAY_PROJECT_ID="<XRAY_PROJECT_ID>"
JIRA_URL = <JIRA_URL>"
JIRA_API_EMAIL="<JIRA_API_EMAIL>"
JIRA_API_TOKEN="<JIRA_API_TOKEN>"